*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body
{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg,#0f172a,#1e293b);
    color: white;
    display: flex;
    flex-direction: column;
} 

/* Navigation */

.container{
    height:70px;
    background:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
}

.container ul
{
    display:flex;
    list-style:none;
    gap:30px;
}

.container a
{
    text-decoration:none;
    color:white;
}

.container a:hover
{
    color:#00e676;
}

/* image container*/

.imageContainer
 {
    flex: 1;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

.leftImage,
.rightImage
{
    margin-top: 50px;
    height:450px ;
    width: 400px;
/*  border: 1px solid #4da6ff;*/
    border: 1px solid #334155;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftImage:hover,
.rightImage:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(77, 166, 255, 0.4);

}

.leftImage,
.rightImage {
    transition: 0.3s;
}


.button1,.button2
{
    margin-top: 10px;
    width:300px;
    background-color:green;
    color:white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    height:40px;
    border: 2px solid black;
}

.button1:hover,
.button2:hover {
    background-color: #00e676;
    color: black;
    cursor: pointer;
}


.footer
 {
    height: 50px;
    background-color: black;
}